---
import { Image } from "astro:assets";
const { image, specialty, description, name, margin, transition } = Astro.props;
---

<div
  class={`flex w-full max-w-160 md:w-110 flex-col items-center justify-center rounded-2xl bg-white/25 p-8 md:p-12 ${margin} ${transition}`}
>
  <h2 class="mb-6 text-center font-sans text-2xl font-black text-white md:text-4xl">{specialty}</h2>

  <Image
    alt="Expert image"
    src={image}
    width={160}
    height={160}
    class="mx-auto size-40 rounded-2xl object-cover shadow-lg"
  />

  <p class="mt-8 text-center font-mono text-lg leading-relaxed text-slate-300 italic">
    "{description}"
  </p>

  <span class="mt-6 font-mono text-xl font-bold text-blue-300 italic">
    {name}
  </span>
</div>
